.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

/* style */

h2{
  margin-top: 0;
  padding: .5em;
}
.panel {
  border: solid thin gray;
  overflow: hidden;
  padding-top: 0;
}

.panel>.heading {
  background: gray;
}

.panel>.body {
  padding: .5em;
}

/* layout */
body{
  padding: 1.5vw;
}

.flex {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: nowrap;
}

.flex.horizontal {
  flex-direction: row;
}

.flex>*{
  width: 31.3vw;
}

.panel+.panel{
  margin-left: 1.5vw;
}
